parameters:
	ignoreErrors:
		-
			message: '#^Instantiated class CartService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/cart_api.php

		-
			message: '#^Instantiated class CategoryService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/category_api.php

		-
			message: '#^Instantiated class ChapterService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/chapter_api.php

		-
			message: '#^Instantiated class ServiceResponse not found\.$#'
			identifier: class.notFound
			count: 2
			path: api/chapter_api.php

		-
			message: '#^Instantiated class CourseService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/course_api.php

		-
			message: '#^Instantiated class CourseCategoryService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/course_category_api.php

		-
			message: '#^Instantiated class CourseImageService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/course_image_api.php

		-
			message: '#^Instantiated class CourseInstructorService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/course_instructor_api.php

		-
			message: '#^Instantiated class ServiceResponse not found\.$#'
			identifier: class.notFound
			count: 2
			path: api/course_instructor_api.php

		-
			message: '#^Instantiated class CourseObjectiveService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/course_objective_api.php

		-
			message: '#^Instantiated class CourseRequirementService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/course_requirement_api.php

		-
			message: '#^Instantiated class InstructorService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/instructor_api.php

		-
			message: '#^Instantiated class LessonService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/lesson_api.php

		-
			message: '#^Instantiated class UserService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/login_api.php

		-
			message: '#^Instantiated class OrderService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/order_api.php

		-
			message: '#^Instantiated class OrderDetailService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/order_detail_api.php

		-
			message: '#^Instantiated class PaymentService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/payment_api.php

		-
			message: '#^Instantiated class ResourceService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/resource_api.php

		-
			message: '#^Instantiated class ReviewService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/review_api.php

		-
			message: '#^Instantiated class RoleService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/role_api.php

		-
			message: '#^Instantiated class CourseService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/search_course_api.php

		-
			message: '#^Instantiated class StudentService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/student_api.php

		-
			message: '#^Instantiated class UserService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/user_api.php

		-
			message: '#^Instantiated class VideoService not found\.$#'
			identifier: class.notFound
			count: 1
			path: api/video_api.php
