parameters:
  scanDirectories:
    - model/dto
    - service
  phpVersion: 80300
  tmpDir: .cache/phpstan

  level: 0

  paths:
    - tests
    - controller
    - api
    - model/dto
    - model/bll
    - model/database.php
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: false